{% extends 'base.html' %}

{% block aboutus %}
<div class="box" style="float: center; text-align: left; width:900Px; height:500Px;">

    <table width="500" cellspacing="0" cellpadding="0" border="1" align="left">
      
 <div >
             <marquee scrollamount="7"scrolldelay="5"direction="right">
              <img src="/static/static/img/angle.jpg"width="300"height="250" />
              <img src="/static/static/img/beautiful.jpg"width="300"height="250" />
              <img src="/static/static/img/art1.jpg"width="300"height="250" />
              <img src="/static/static/img/Romantical-Love.jpg"width="300"height="250" />
            </marquee>
          </div>
          <h4> This website is realy cool and nice art photo's uploaded. what are you do in this  website.You like in any image, add comment and buy this image etc.I am trying to modify my website so that we can get more features and interest. </h4>
          <p> This website bulided python 2.7 and django 1.7 </p>
          <h3> contact me: rakesh190493it@gmail.com </h3>
      </table>
  </div>
{% endblock %}